/* stile div generale */
.general{
  margin-top: 10px;
  position: relative;
}

/* stile primi 3 elementi */
.tablet {
  background-image: url(../img/pd1.jpg);
  height: 372px;
  width: 300px;
  position: absolute;
  top: 0;
}

.smartphone {
  background-image: url(../img/pd2.jpg);
  height: 372px;
  width: 300px;
  position: absolute;
  left: 310px;
  top: 0;
}

.headphone {
  background-image: url(../img/pd3.jpg);
  height: 372px;
  width: 300px;
  position: absolute;
  left: 620px;
  top: 0;
}

/* stile dei price tag */
.green{
  background-color: green;
  width: 50px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.1em;
}

.red{
  background-color: red;
  width: 50px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.1em;
}

/* creazione stile dei 3 elementi sottostanti */
.tablet2{
  background-image: url(../img/pd1.jpg);
  height: 372px;
  width: 300px;
  position: relative;
  top: 400px;
  left: 0;
}

.smartphone2{
  background-image: url(../img/pd2.jpg);
  height: 372px;
  width: 300px;
  position: relative;
  left: 310px;
  top: 28px;
}

.headphone2{
  background-image: url(../img/pd3.jpg);
  height: 372px;
  width: 300px;
  position: absolute;
  top: 400px;
  left: 620px;
}

/* creazione del cuore :hover */
.image:hover{
  cursor: url(../img/cuore.png), pointer;
}
